.div_users_connected {
    width: auto;
    height: 250px;
    overflow-y: scroll;
    background-color: whitesmoke;

    &::-webkit-scrollbar {
        width: 8px;     /* Tamaño del scroll en vertical */
        height: 8px;    /* Tamaño del scroll en horizontal */
    }

    &::-webkit-scrollbar-thumb {
        background: #343A40;
        border-radius: 4px;
    }
    /* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
    &::-webkit-scrollbar-thumb:hover {
        background:#2c2e31;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }
    
    &::-webkit-scrollbar-track {
        background: #e1e1e1;
        border-radius: 4px;
    }

    .li_list_user{
        border-radius: 0px;
    }

    a {
        height: 150px;
    }
}